<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="og:title" content="Větrání bez jedů | Piráti Ostrava">
<meta name="og:description" content="Zjistěte, kam foukají a budou foukat emise z blízkých i vzdálených zdrojů znečišťování. Zjistěte, zda můžete otevřít okno. Větrejte bez jedů. Správný vítr přejí Piráti Ostrava.">
<meta name="og:type" content="website">
<meta name="og:url" content="">
<meta name="og:image" content="static/fbimage02.jpg">
<meta name="twitter:title" content="Větrání bez jedů | Piráti Ostrava">
<meta name="twitter:description" content="Zjistěte, kam foukají a budou foukat emise z blízkých i vzdálených zdrojů znečišťování. Zjistěte, zda můžete otevřít okno. Větrejte bez jedů. Správný vítr přejí Piráti Ostrava.">
<meta name="twitter:card" content="summary">
<meta name="twitter:url" content="">
<meta name="twitter:image" content="static/fbimage02.jpg">

<link href="static/css/roboto.css" rel="stylesheet"> 
<link href="static/css/all.min.css" rel="stylesheet">
<link href="static/css/style.css" rel="stylesheet">
  <script src="static/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://api.mapy.cz/loader.js"></script>
  <script>
     Loader.load()  
  </script>
  <title>Větrání bez jedů | Piráti Ostrava</title>
<script type="text/javascript" src="static/js/airdir.js"></script>
<script type="text/javascript" src="static/js/showdown.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  airdir();
})
		 	      
	</script>

</head>
<body>
<div id="wrapper">
<img id="logo" src="static/logo1.png" class="touch-passthru" alt="Větrání bez jedů - logo">
<div id="mapa">
</div>
<div id="time-display" class="touch-passthru"></div>
<button id="back-button"><i class="fas fa-undo"></i></button>
<div id="content-container">
  <div id="content-close"><a href="#"><i class="fas fa-times"></i> Zavřít</a></div>
  <div id="content-cdiv"><div id="content-div"></div></div></div>
<div id="content-buttons">
  <a href="#" data-content="info.md">O aplikaci</a>
  <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436');return false;"><i class="fab fa-facebook-square"></i> Sdílet</a>
</div>
</div>
</body>
</html>
